/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
   margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 20px;
/*   font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  align-items: center;
  background: #eee;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  background: black;
  padding-right: 10px;
  color: white;
  font-size: 10px;
}

footer a {
 color: white;
 margin-left: 6px;
}

#openseadragon {
  width: 100%;
  height: 100%;
  display: none;
}

main {
  display: grid;
  grid-template-columns: 60vw 1fr;
  /* background-color: #006fa3;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png"); */
  background: url('../assets/scales.png') center center fixed;
   -webkit-background-size: 20%;
   -moz-background-size: 20%;
   -o-background-size: 20%;
   background-size: 20%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.title {
  color: white;
  padding: 10px 20px 20px 20px;
  font-family: 'Noto Sans JP', sans-serif;
  /* text-shadow: 1px 1px 1px white; */
}

.title h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.title p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  /* font-style: italic; */
}

.intro  {
  display: grid;
  grid-template-rows: 1fr 20px 3fr;
  border-radius: 4px;
  margin: 0 auto;
  background: black;
}

.text-content-wrapper {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 350px; */
  grid-column: 1;
  padding-top: 20px;
  background-color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/arches.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top: 1px solid black;
}

.text-content-nav {
  display: flex;
}

.text-content-nav button {
  flex: 1;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid transparent;
  transition: .2s all ease;
}

.text-content-nav button:hover {
  opacity: 0.9;
  border-bottom: 1px dotted white;
}

.text-content-nav button:focus {
  outline: none;
  border-bottom: 1px dotted white;
}

.text-content-wrapper p {
  background: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  padding: 30px 30px;
  width: 85%;
  margin: 0 auto;
}

.text-content {
  height: 100%;
  overflow-y: scroll;
}


.intro-image {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  grid-column: 2;
  border: 1px solid transparent;
  border-top: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 5px;
}

.intro-portrait {
  background: url('../assets/hokusai-portrait.jpg');
  background-size: 95%;
  background-position: center;
  background-color: rgb(201, 195, 167);
  background-repeat: no-repeat;

}

.intro-collage {
  background: url('../assets/hokusai-collage.jpeg');
  background-size: cover;
}


@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 30vw 1fr;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 5vh 1fr;
    height: initial;
  }

  .intro-image {
    grid-row: 1;
    grid-column: 1;
    background-size: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

  .intro-portrait {
    background-size: 50%;
  }

  .intro-collage {
    background: url('../assets/hokusai-collage.jpeg');
    background-size: cover;
  }

  .text-content-nav {
    display: flex;
    grid-row: 2;
  }

  .text-content-wrapper {
    border-bottom-right-radius: 5px;
  }
}

div[id*='navigator-'] {
  box-shadow: 0px 0px 1px 3px black;
  border: none !important;
  padding: 3px;
}

div[id*='navigator-'][id$='displayregion'] {
  background: transparent !important;
  box-shadow: none !important;
  border: 2px solid rgba(255, 255, 255, 0.6) !important;
  border-radius: 2px;
}
