/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html {
  background: black;
}

html,
body {
  height: 100vh;
  padding: 0;
   margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 20px;
/*   font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  align-items: center;
  background: #eee;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  background: black;
  padding-right: 10px;
  color: white;
  font-size: 10px;
}

footer a {
 color: white;
 margin-left: 6px;
}

main {
  display: grid;
  grid-template-columns: 66.6vw 1fr;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
   -webkit-background-size: 20%;
   -moz-background-size: 20%;
   -o-background-size: 20%;
   background-size: 20%;
  overflow-y: hidden;
}

/* TITLE BLOCK */

.title {
  color: white;
  padding: 10px 20px;
  font-family: 'Noto Sans JP', sans-serif;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 40px auto;
}

.title h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}


.title-name {
  padding: 0;
  margin: 0;
  font-size: 24px;
  grid-column: 1;
  /* font-style: italic; */
}

.title-signature {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 30px;
  font-size: 20px;
  justify-self: end;
  align-self: end;
  /* text-shadow: 14px 5.5px 2px rgba(144,168,192, 0.3); */
  font-weight: lighter;
}

.title-life {
  font-size: 12px;
  font-style: italic;
  opacity: 0.3;
  grid-column: 1;
  margin: 0;
}

.intro  {
  display: grid;
  grid-template-rows: auto 30px 2fr;
  margin: 0 auto;
  background: black;
  overflow-y: scroll;
}

/* NAVIGATION BLOCK */

.text-content-nav {
  display: flex;
}

.text-content-nav button {
  flex: 1;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid transparent;
  transition: .2s all ease;
  font-family: 'Noto Sans JP', sans-serif;
}

.text-content-nav button:hover {
  opacity: 0.9;
  border-bottom: 1px dotted white;
}

.text-content-nav button:focus {
  outline: none;
  border-bottom: 1px dotted white;
}

.gallery-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-size: cover;
}

.gallery-icon-black {
  background-image: url('../assets/gallery-black.svg');
  margin: 0;
  margin-left: 3px;
}

.gallery-icon-white {
  background-image: url('../assets/gallery.svg');
}

.nav-button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-self: center;
  align-items: baseline;
}

.nav-button p {
  display: inline-block;
  margin: 0;
}

/* TEXT CONTENT BLOCK */

.text-content-wrapper {
  position: relative;
  grid-column: 1;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  overflow-y: scroll;
  border-left: 22px solid rgba(0, 0, 0, 0.2);
  border-right: 22px solid rgba(0, 0, 0, 0.2);
}

/* .text-content-wrapper::after {
  content: "\00a0";
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    display:block;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 2px solid rgb(201, 195, 167);
    border-right: 2px solid rgb(201, 195, 167);
} */


.text-content-wrapper p:first-child {
  padding-top: 2em;
}

.text-content-wrapper p:first-child:first-letter {
  color: black;
  float: left;
  font-family: Georgia;
  font-size: 45px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.text-content-wrapper p:last-child {
  padding-bottom: 40px;
}


.text-content-wrapper p {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  padding: 10px 30px;
  width: 85%;
  margin: 0 auto;
}

.text-content-instructions {
  display: block;
  width: 80%;
  padding: 10px 30px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.gallery-span {
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
}

.text-content-divider {
  width: 25%;
  opacity: 0.3;
}

.love {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.artnet-link {
  color: #fc4700;
}


.intro-image {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  grid-column: 2;
}

.intro-portrait {
  background: url('../assets/hokusai-portrait.jpg');
  background-size: cover;
  background-position: 60%;
  background-color: rgb(201, 195, 167);
  background-repeat: no-repeat;

}

.intro-collage {
  background: url('../assets/hokusai-collage.jpeg');
  background-size: cover;
}


@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 33vw 1fr;
    overflow-y: initial;
  }

  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px 1fr;
    height: initial;
  }

  .intro-image {
    grid-row: 1;
    grid-column: 1;
    background-size: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

  .title h1 {
    font-size: 7vw;
  }

  .title-name {
    font-size: 4vw;
  }

  .title-life {
    font-size: 2vw;
  }

  .intro-portrait {
    background-size: cover;
    background-position: 25% 33%;
   }

  .intro-collage {
    background: url('../assets/hokusai-collage.jpeg');
    background-size: cover;
  }

  .text-content-nav {
    display: flex;
    grid-row: 2;
  }
}

/* OPENSEADRAGON */

#openseadragon {
  width: 100vw;
  height: 100vh;
  display: none;
}

.controls {
  display: grid;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  z-index: 10;
}

.controls-left {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-right: 1px solid pink;
}

.back-button {
  display: inline-block;
  background-image: url(../assets/back.svg);
  height: 30px;
  width: 30px;
  margin-right: 5px;
  background-size: cover;
  transition: .4s all ease;
  -moz-box-shadow:    inset 0 0 0 2px #d3d3d3;
  -webkit-box-shadow: inset 0 0 0 2px #d3d3d3;
  box-shadow:         inset 0 0 0 2px #d3d3d3;
  border-radius: 100%;
  padding: -1px;
  cursor: pointer;
}

.back-button:hover {
  -moz-box-shadow:    inset 0 0 0 2px #708090;
  -webkit-box-shadow: inset 0 0 0 2px #708090;
  box-shadow:         inset 0 0 0 2px #708090;
}

div[id*='navigator-'] {
  box-shadow: 0px 0px 1px 3px black;
  border: none !important;
  padding: 3px;
}

div[id*='navigator-'][id$='displayregion'] {
  background: transparent !important;
  box-shadow: none !important;
  border: 2px solid rgba(255, 255, 255, 0.6) !important;
  border-radius: 2px;
}
