<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSD Woodblocks</title>
    <meta name="description" content="A viewer for Japanese Woodblock Prints">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <main>
      <div class="title">
        <h1>The Majesty of The Thirty-Six Views of Mt. Fuji</h1>
        <p>Katsushika Hokusai</p>
        <p>北斎改為一筆</p>
      </div>
      <div class="intro">
        <div class="text-content-wrapper">
          <div class="text-content-nav">
            <button>Intro</button>
            <button>Bio</button>
            <button>Index</button>
          </div>
          <p>Katsushika Hokusai (Japanese, 1760–1849) was a Japanese artist, ukiyo-e painter, and printmaker during the Edo period. Born to an artisan family in present-day Tokyo, he began painting at a young age, and became apprenticed to a wood-carver as a teenager. At the age of 18, he was accepted into the studio of Katsukawa Shunsho, an artist of the ukiyo-e style, which was focused on the depiction of the booming merchant class, including courtesans, Kabuki actors, and sumo wrestlers. After Shunsho's death, Hokusai began experimenting with other styles of art, including Western styles. But he didn't fully develop his own signature technique until he was expelled from the Katsukawa School.</p>

          <p>During his lifetime, Hokusai was known as the leading expert on Chinese painting in Japan. He is best-known for the woodblock print series 36 Views of Mount Fuji, which includes the iconic image, The Great Wave off Kanagawa. Hokusai created 36 Views both as a response to an increase in domestic travel and as part of a personal fascination with Mount Fuji. It was this series, specifically The Great Wave print and Fuji in Clear Weather, that gained Hokusai international fame.</p>

          <p>Hokusai had a profound impact on Western art, which was increasingly influenced by Japanese culture and style beginning in the 19th century. Artists such as Édouard Manet, Claude Monet, and Vincent van Gogh were all inspired by his wood-block prints.</p>
        </div>
        <div class="portrait"></div>
        </div>
      </div>
      <div id="openseadragon"></div>
    </main>

    <footer>
      An OpenSeadragon experiment by <a href="seancswanson.com">Sean Swanson</a>.
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script> -->
    <script src="/lib/openseadragon/openseadragon.min.js"></script>
    <script src="/js/client.js" defer></script>


  </body>
</html>
