<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OSD Woodblocks</title>
    <meta name="description" content="A viewer for Japanese Woodblock Prints">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      Japanese Woodblock Gallery
    </header>

    <main>
      <div id="openseadragon"></div>
    </main>

    <footer>
      An OpenSeadragon experiment by <a href="seancswanson.com">Sean Swanson</a>.
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script> -->
    <script src="/lib/openseadragon/openseadragon.min.js"></script>
    <script src="/client.js" defer></script>


  </body>
</html>
