/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh; 
  padding: 0;
   margin: 0;
}

body {
  display: grid;
  grid-template-rows: 40px 1fr 20px;
/*   font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  align-items: center;
  background: #eee;
  padding-left: 10px;
}

footer {
  display: flex;
  align-items: center;
  background: #eee;
  padding-left: 10px;
}

footer a {
 color: black; 
 margin-left: 6px; 
}